*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.container{
    height: 550px;
    width: 20rem;
    background: #181616;
    border-radius: 2rem;
    padding: 5px;
    transition: box-Shadow 0.3s;
}

.display{
    height: 30%;
    width: 100%;
    padding: 10px;
    background: #000000;
    border-radius: inherit;
    transition: font-size 0.5s ease;
    color: #fff;
    text-align: end;

}

.prev-display {
    height: 50%;
    width: 100%;
    background-color: rgb(55, 58, 55);
    border-radius: inherit;
    padding: 20px;
    font-size: 3rem;
    transition: inherit;
}

.solution-display{
    height: 50%;
    width: 100%;
    /* background-color: rgb(141, 141, 134); */
    border-radius: inherit;
    padding: 20px;
    font-size: 3rem;
    transition: inherit;
    word-wrap: break-word;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.2rem;
    height: 70%;
    width: 100%;
    gap: 10px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    font-size: 1.9em;
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
    cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

.op{
    color: #fff;
    /* background-color: #ff9d0a; */
    font-size: 1.8rem;
    transition: background 0.5s;
}

.op2{
    background: #a4a4a4;
    font-size: 1.5rem;
}

.digit{
    background: #3d3d3d;
    color: #fff;
    transition: background 0.3s;
}

.decim{
    background: #3d3d3d;
    color: #fff;
    transition: background 0.3s;
}

.digit:hover, .decim:hover{
    background: #a4a4a4;
    scale: 1.01;
}

.zero{
    border-radius: 2rem;
    width: 45%;
}

.theme{
    display: flex;
    flex-direction: column;
    gap: 19px;
    height: 9rem;
    width: 5rem;
    border-radius: 0.5rem;
    color: #ff9d0a;
    font-size: 0.9rem;
    font-weight: 600;
    font-family:'Courier New', Courier, monospace;
    gap: 30px;
}

.theme button{
    border: transparent;
    height: 30px;
    padding: 5px;
    background-color: #000;
    font-weight: 600;
    font-family:'Courier New', Courier, monospace;
    text-transform: uppercase;
    border-radius: 0.5rem;
    transition: transform 0.3s;
}

.one{
    color: #fff;
    box-shadow: 0 60px 80px rgba(0,0,0,0.60), 0 45px 26px rgba(0,0,0,0.14);
}

.two{
    color: #eb8e15;
    box-shadow: 0 0 0 2px rgb(235, 142, 21), 8px 8px 0 0 rgb(231, 137, 14);
}

.three{
    color: #417505;
    box-shadow: 5px 5px 0 0 rgb(65, 117, 5), 10px 10px 0 0 rgba(65,117,5,0.6), 15px 15px 0 0 rgba(65,117,5,0.4);
}

.four{
    color: #da667b;
    box-shadow: -1px -5px 10px 1px #da667b, 1px 5px 10px 1px #da667b;
}

.tBtn.clicked{
    transform: scale(1.1);
}